<div class="container app-root-component">
    <mat-drawer-container class="drawer-container" autosize>
        <div class="main">
            <div class="container">
                <div class="header row">
                    <todo-header class="heading col-md-8"></todo-header>
                    <todo-actions (toggleSideDrawer)=drawer.toggle() class="text-right col-md-4"></todo-actions>
                </div>
                <div class="content row">
                    <todo-list class="col-md-12" (editTodo)=editTodo($event)></todo-list>
                </div>
                <div class="footer row">
                    <todo-footer class="col-md-12"></todo-footer>
                </div>
            </div>
        </div>
        <mat-drawer #drawer class="sidenav" mode="over" position="end">
            <div>
                <todo-create #todoCreate (submitForm)=drawer.close() (cancelForm)=drawer.close()></todo-create>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</div>