body {
    font-size: 14px;
}

.header {
    background-image: url('../../images/header-pattern-v1.svg');
    background-repeat: repeat-x;
    padding: 10px 5px;
    width: 100%;
}

.sidenav {
    min-width: 300px;
}

.content {
    min-height: 400px;
}

.footer {
    padding: 5px 15px !important;
}

.content ul {
    list-style-type: none;
}